@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: "Noto Sans Thaana", sans-serif;
    background-color: var(--background);
    color: var(--text);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans Thaana", sans-serif;
  }
}
@layer base {
  :root {
    --text: #e3eefc;
    --background: #041225;
    --primary: #7db2f2;
    --secondary: #220e90;
    --accent: #7a41ec;
  }
  .light {
    --text: #030e1c;
    --background: #dae8fb;
    --primary: #0d4282;
    --secondary: #836ff1;
    --accent: #4c13be;
  }

}

html {
  @apply scroll-smooth;
}